/*************************** Main Styling ***************************/

html {
	width: 100%;
}

body {
	background-color: #00a4ff;
}

@keyframes flash {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@font-face {
	font-family:'Rounded-Elegance'; 
	src: url('../fonts/Rounded_Elegance.ttf'); format("truetype");
}

#illumexImage {
	width:600px;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:180px;
}

#flash {
	font-family:'Rounded-Elegance', 'sans-serif';
	color:white;
	font-size:xx-large;
	height:auto;
	text-align:center;
	animation:flash 1.5s ease-in-out 1s infinite alternate;
}

#slogan {
	font-family:'Rounded-Elegance', 'sans-serif';
	color:white;
	font-size:45px;
	height:auto;
	position:absolute;
	bottom:0px;
	right:14px;
}

/**************************** Media Queries ****************************/

/**************************** Portrait Phone ***************************/

@media (min-width: 100px) and (max-width: 480px) {
	
	#illumexImage {
		width:330px;
	}

	#flash {
		font-size:large;
	}

	#slogan {
		font-size:large;
	}

}

/**************************** Landscape Phone ***************************/

@media (min-width: 481px) and (max-width: 700px) {

	#illumexImage {
		width:550px;
		margin-top:50px;
	}

	#flash {
		font-size:x-large;
	}

	#slogan {
		font-size:x-large;
	}

}
